body {
    background-color: #076324;
    margin: 0;
    overflow-y: hidden;
    overflow-x: auto;
    min-width: 1320px;
}

#enemyHand div img, #mainCards div img, #playerCards div img {
    max-width: 130px;
    padding: 2px;
}

#enemyHand {
    width: 40%;
    max-width: 700px;
	margin-left: 25%;
	margin-right: 25%;
	transform: translateY(-40%);
}

#enemyHand div:not(#opponentDeck) {
	margin-right: -120px;
}

#mainCards {
    max-width: 700px;
	width: 50%;
	margin-top: 0px;
}

.container{
    max-width: 700px;
}

.draw-deck{
	position: absolute;
	top: 0;
	left: 0;
	width: 85%;	
}

#opponentDeck {
	width: 82%;
}

#mainCards .draw-deck {
	margin-right: 5%;
}

#enemyName {
	position: absolute;
	top: 60px;
    left: 10px;
    color: white;
}

#playerName {
    position: absolute;
	top: 550px;
    left: 10px;
    color: white;
}

#playerCards{
    max-width: 1000px;
	margin-top: 5%;
	width: 75%;
}

#playerCards .draw-deck{
	margin-left: 5%;
}
  
  .wrapper {
    position: relative;
    min-height: 100vh;
  }
  
  [class|="confetti"] {
    position: absolute;
  }
  
  .red {
    background-color: #E94A3F;
  }
  
  .yellow {
    background-color: #FAA040;
  }
  
  .blue {
    background-color: #5FC9F5;
  }